

body {
  width: 100%;
}

.mobile{
  display: none;
}

nav {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1;
  background: white;
  display: flex;
  justify-content: space-between;
}

nav .logo {
  width: auto;
  margin: 16px 0px;
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 32px;
}

nav .links {
  
}

main {
  margin-top: 64px;
}

.banner {
  background: lightgray;
}
